body.grid
{ 
	display: grid;
	grid-template-areas: 
		"header header"
		"nav article"
		"footer footer";
	grid-template-rows: 80px 1fr 40px;	
	grid-template-columns: 20% 1fr;
	grid-row-gap: 3px;
	grid-column-gap: 3px;
	height: 100vh;
	margin: 0;
}	

body#index { background-color: #3f4555; }

body
{
	font-family: Sans, Helvetica, sans-serif;
	color: #ffffff;
}

h1, h2, h3, h4 { color: #aaa; }
h1 { font-size: 3.6em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
.explanation { font-size: 1.8em; font-style: italic; }

a { color: #99f }

header, nav, article, footer { background-color: #3f4555; }

p { text-align: justify; text-justify: inter-word; }

img, pre { margin-left: auto; margin-right: auto; display: block; }

#pageHeader {
	grid-area: header;
}

#pageFooter {
	grid-area: footer;
	font-size: 70%;
	padding-top: 5px;
}

#mainArticle { 
	grid-area: article;	
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#mainNav { 
	grid-area: nav; 
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px)
{
	body.grid
	{ 
		grid-template-areas: 
			"header"
			"nav"
			"article"
			"footer";
		grid-template-rows: 80px 1fr 1fr 40px;	
		grid-template-columns: 1fr;
	}
}
